//color var
$blue-with-a-hint-of-purple: #6039aa;
$tealish: #32d6bd;

$white: #ffffff;
$black: #333333;

//fonts var
$font: "Open Sans", "Arial", sans-serif;
$font-normal: 400;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;

//media var
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1130px;

$mobile-width-h-padding: 16px;
$tablet-width-h-padding: 24px;
$desktop-width-h-padding: 15px;
