.content-wrapper {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
        width: 670px;
    }

    
    @media (min-width: $desktop-width) {
        width: 1200px;
    }
}